<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parks and Rec API</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar">
        <img src="/img/logo.svg" alt="">
    </nav>
    <div class="container">
        <div class="row my-5">
            <div class="col-12">
                <h4 class="champion">Email confirmed!</h4>
                <p>
                    Thanks for requesting a token,
                </p>
                <p>
                    We sent you an email with your token. It is yours and only yours, do not share it!
                </p>
            </div>
        </div>
    </div>
</body>

</html>